<a href="https://colab.research.google.com/github/bchaithanyasai/LoadingKaggleDatasetToColab/blob/master/Loading_Kaggle_Dataset_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First I try to install packages required for loading the kaggle dataset but you can see that the packages already install on this hosted system.

In [0]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.38.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

Then we create a directory or also called as file with the name kaggle and this is done using mkdir command which stands for make or create a directory 
Ignore this output as it result of my repeated execution of the command but this will not happen you execute the command only once.

If you have no knowledge of what this '.' before indicate then it simply means that this is a hidden file in the system.

In [0]:
!mkdir .kaggle

mkdir: cannot create directory ‘.kaggle’: File exists

Now we import files module which would help us in uploading a local file i.e. a downloaded file of json which is your '**API token**'. 

API token can be downloaded by going to your account in kaggle website after logging in, then scroll down the page till you come across a title 'API' then click on 'Create New API token' to generate a json with username and key which can be using for loading dataset.

In [0]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"bchaithanyasai","key":"XXXXXXXXXXX"}'}

Let's now check the current working directory and we are in content directory.

In [0]:
!pwd

/content

Notice that the kaggle.json file is downloaded which can be checked using ls command for listing files in the present directory

In [0]:
!ls

kaggle.json  sample_data

We copy the file from present directory to the directory just created 'kaggle' as it is the default path that the kaggle packages are going to search for this API token to access the datasets as it is the way the authetication is doing by kaggle.

In [0]:
!cp /content/kaggle.json /root/.kaggle/kaggle.json

Now that we have done this let's check whether we are able to access the datasets and let's list the datasets.

In [0]:
!kaggle datasets list

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                         title                                                size  lastUpdated          downloadCount
----------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
unanimad/dataisbeautiful                                    Reddit - Data is Beautiful                           11MB  2020-03-21 22:28:28            815
allen-institute-for-ai/CORD-19-research-challenge           COVID-19 Open Research Dataset Challenge (CORD-19)  646MB  2020-03-20 23:31:34          29125
rubenssjr/brasilian-houses-to-rent                          brazilian_houses_to_rent                            117KB  2020-03-15 01:12:22            771
sudalairajkumar/novel-corona-virus-2019-dataset             Novel Corona Virus 2019 Dataset                     412KB  2020-03-24 06:10:13          79977
kimjihoo/coronavirusdataset                                 Data Science for COVID-19 (DS4C)                      3MB  2020-03-22 04:17:54          20569
jessemostipak/hotel-booking-demand                          Hotel booking demand                                  1MB  2020-02-13 01:27:20          10388
shivamb/real-or-fake-fake-jobposting-prediction             [Real or Fake] Fake JobPosting Prediction            16MB  2020-02-29 08:23:34           2120
brunotly/foreign-exchange-rates-per-dollar-20002019         Foreign Exchange Rates 2000-2019                      1MB  2020-03-03 17:43:07           1668
timoboz/data-science-cheat-sheets                           Data Science Cheat Sheets                           596MB  2020-02-04 19:42:27           6382
imdevskp/sars-outbreak-2003-complete-dataset                SARS 2003 Outbreak Complete Dataset                  10KB  2020-02-26 10:25:22           2044
imdevskp/ebola-outbreak-20142016-complete-dataset           Ebola 2014-2016 Outbreak Complete Dataset           101KB  2020-02-26 14:36:31           1930
tunguz/big-five-personality-test                            Big Five Personality Test                           159MB  2020-02-17 15:59:37           3165
paultimothymooney/coronavirus-genome-sequence               Coronavirus Genome Sequence                           9MB  2020-02-29 00:25:13            607
arindam235/startup-investments-crunchbase                   StartUp Investments (Crunchbase)                      3MB  2020-02-17 21:54:42           2215
timoboz/tesla-stock-data-from-2010-to-2020                  Tesla stock data from 2010 to 2020                   46KB  2020-02-04 17:15:32           3040
timoboz/python-data-science-handbook                        Python Data Science Handbook                         15MB  2020-02-04 18:27:14           1490
prakrutchauhan/indian-candidates-for-general-election-2019  Indian Candidates for General Election 2019         133KB  2020-03-03 07:01:53            999
gpiosenka/100-bird-species                                  160 Bird Species                                      2GB  2020-03-23 20:51:22           1045
ronitf/heart-disease-uci                                    Heart Disease UCI                                     3KB  2018-06-25 11:33:56         122199
gregorut/videogamesales                                     Video Game Sales                                    381KB  2016-10-26 09:10:49          93477

This is just for my convince that I change my directory to content again. You can ignore this if you want but I would suggest you to do it.

In [0]:
!cd /content

Now we go to a dataset in kaggle and copy API command by clicking the 'three dot symbol' on the right side of page and paste it in the next cell

In [0]:
!kaggle datasets download -d usdot/flight-delays

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading flight-delays.zip to /content
 99% 189M/191M [00:01<00:00, 81.7MB/s]
100% 191M/191M [00:01<00:00, 106MB/s]

Notice that a zip file is downloaded which would contain the csv files of the datasets

In [0]:
!ls

flight-delays.zip  kaggle.json	sample_data

We now extract the files from the zip file

In [0]:
import pandas as pd
!pip install pyunpack
from pyunpack import Archive
Archive('flight-delays.zip').extractall('/content')

Collecting pyunpack
  Downloading https://files.pythonhosted.org/packages/79/dc/44cd41fb99d184ae7c2eac439a52ca624d5ece62b0302c3437fcc4ce3b58/pyunpack-0.1.2.tar.gz
Collecting easyprocess
  Downloading https://files.pythonhosted.org/packages/32/8f/88d636f1da22a3c573259e44cfefb46a117d3f9432e2c98b1ab4a21372ad/EasyProcess-0.2.10-py2.py3-none-any.whl
Building wheels for collected packages: pyunpack
  Building wheel for pyunpack (setup.py) ... done
  Created wheel for pyunpack: filename=pyunpack-0.1.2-cp36-none-any.whl size=5163 sha256=93912a96dba4fe2f60512600012524439aa584d461b577af45da13be2f8ff79d
  Stored in directory: /root/.cache/pip/wheels/af/44/08/60613970881e542c0baad1f2dea5ed8e6716bc573f49197b7e
Successfully built pyunpack
Installing collected packages: easyprocess, pyunpack
Successfully installed easyprocess-0.2.10 pyunpack-0.1.2

We have three csv files from the zip file

In [0]:
!ls

airlines.csv  flight-delays.zip  kaggle.json
airports.csv  flights.csv	 sample_data

Let's read the csv file using pandas

In [0]:
data = pd.read_csv('/content/flights.csv',header=0, sep=',', quotechar='"')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Finally We got our dataset in the 'data'.

You have successfully loaded the kaggle dataset and you are ready to apply data science concepts that you have learnt on it...

I hope this helped you in your first in practical data science.

In [0]:
data

         YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0        2015      1    1  ...            NaN                 NaN            NaN
1        2015      1    1  ...            NaN                 NaN            NaN
2        2015      1    1  ...            NaN                 NaN            NaN
3        2015      1    1  ...            NaN                 NaN            NaN
4        2015      1    1  ...            NaN                 NaN            NaN
...       ...    ...  ...  ...            ...                 ...            ...
5819074  2015     12   31  ...            NaN                 NaN            NaN
5819075  2015     12   31  ...            NaN                 NaN            NaN
5819076  2015     12   31  ...            NaN                 NaN            NaN
5819077  2015     12   31  ...            NaN                 NaN            NaN
5819078  2015     12   31  ...            NaN                 NaN            NaN

[5819079 rows x 31 columns]